<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-divider class="divider"></mat-divider>
  <mat-card-content>
    <div *ngIf="!loading; else loadingTemplate">
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <mat-form-field fxFlex>
            <mat-label>Serviço</mat-label>
            <mat-select formControlName="servicoId">
              <mat-option *ngFor="let servico of servicos" [value]="servico.id">{{ servico.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Dia da Semana</mat-label>
            <input matInput formControlName="dia" />
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Horário</mat-label>
            <input matInput formControlName="horario" />
          </mat-form-field>       
        </div>
        <br />
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
          <button mat-raised-button class="cancelButton" (click)="onCancel()">
            Cancelar
          </button>
          <button mat-flat-button class="saveButton" (click)="onSubmit()">
            {{ buttonTitle }}
          </button>
        </div>
      </form>
    </div>
    <ng-template #loadingTemplate>
      <p>Carregando...</p>
    </ng-template>
  </mat-card-content>
</mat-card>
