<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <mat-card-title>Cadastrar Dia e Horário</mat-card-title>
  </mat-card-header>
  <mat-divider class="divider"></mat-divider>
  <mat-card-content>
    @if(!loading){
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Serviço</mat-label>
          <mat-select formControlName="servicoId">
            @for (servico of servicos; track servico){
            <mat-option [value]="servico.id">{{ servico.nome }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Dia da Semana</mat-label>
          <input matInput formControlName="dia" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Horário</mat-label>
          <input matInput formControlName="horario" />
        </mat-form-field>
      </div>
      <br />
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
        <button mat-raised-button class="cancelButton" (click)="onCancel()">
          Cancelar
        </button>
        <button mat-flat-button class="saveButton" (click)="onSubmit()">
          Cadastrar
        </button>
      </div>
    </form>
    }@else {
    <p>Carregando...</p>
    }
  </mat-card-content>
</mat-card>
