.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.card {
  max-width: 400px;
  width: 100%;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.entrarButton {
  background-color: white;
  color: var(--primary-color);
  width: 60%;
}

.criarButton {
  background-color: var(--primary-color);
  color: white;
  width: 60%;
}
