<mat-toolbar>
  @if(!isUserRoute){
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  }
  <h1 class="title">Atendimentos</h1>
  <span class="spacer"></span>
  @if(!isUserRoute){
  <span style="color: white">{{ userName }}</span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon style="color: white">logout</mat-icon>
  </button>
  }
</mat-toolbar>
@if(!isUserRoute){
<mat-sidenav-container autosize>
  <mat-sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/agendamentos')">
        <span class="entry">
          <mat-icon>today</mat-icon>
          <span>Agendamentos</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/servicos')">
        <span class="entry">
          <mat-icon>medical_services</mat-icon>
          <span>Serviços</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/pacientes')">
        <span class="entry">
          <mat-icon>personal_injury</mat-icon>
          <span>Pacientes</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/atendentes')">
        <span class="entry">
          <mat-icon>medical_information</mat-icon>
          <span>Atendentes</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
}@else{
<router-outlet></router-outlet>
}
