.newButton {
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: var(--primary-color);
  color: white;
  float: right;
}

.card {
  margin: 20px;
  margin-bottom: 100px;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
}
