<div class="container">
  <mat-card appearance="outlined" class="card">
    <mat-card-header>
      <mat-card-title>Entrar</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
      <form
        [formGroup]="form"
        (ngSubmit)="onLogin()"
        fxLayout="column"
        fxLayoutGap="16px"
      >
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (form.get('email')?.hasError('email')) {
          <mat-error>Email inválido</mat-error>}
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" type="password" />
          @if(form.get('senha')?.hasError('minlength')){
          <mat-error>A senha deve ter pelo menos 6 caracteres</mat-error>}
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-fab extended class="entrarButton" type="submit">
            Entrar
          </button>
          <div style="margin: 20px">Não possui uma conta?</div>
          <button
            mat-fab
            extended
            class="criarButton"
            type="button"
            (click)="onCreateAccount()"
          >
            Criar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
